<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--    https://kenial.tistory.com/838 참고 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <uses-feature android:name="android.hardware.camera.flash" android:required="false" />
    <uses-feature android:name="android.hardware.camera.front" android:required="false" />

    <!--    https://simsimjae.tistory.com/268 참고 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!--    인터넷 사용 권한 설정 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".KakaoApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ToDoNotice"
        tools:targetApi="31"
        android:usesCleartextTraffic="true"
        >
        <!-- net::ERR_CLEARTEXT_NOT_PERMITTTED -> android:usesCleartextTraffic="true" 추가 (WebView) -->

        <activity
            android:name=".IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <!-- kakao 연결 -->
        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:host="oauth"
                    android:scheme="kakaocd08a7486a17588a9873dd2f67c7974a" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"/>

        <activity
            android:name=".WriteActivity"
            android:windowSoftInputMode="adjustResize"
            /> <!-- 키보드가 올라갈 때 액티비티의 크기를 조정 -->

        <activity
            android:name=".WriteEditActivity"
            android:windowSoftInputMode="adjustResize"
            />

        <activity android:name=".NoticeViewActivity" />
        <activity android:name=".NewsActivity" />
        <activity android:name=".ToDoListCell" />
        <activity android:name=".ToDoListViewActivity"/>
        <activity android:name=".CalendarTodoList"/>
        <activity android:name=".CalendarTodoListEdit"/>
        <activity android:name=".NewsWebView"/>

    </application>

</manifest>